@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eaf1fb;
  font-family: "Roboto", sans-serif;
}
#content {
  display: grid;
  grid-template-columns: minmax(100px, 25%) 1fr;
  grid-template-areas: "sidebar main";
  height: 100vh;
}
#sidebar {
  grid-area: sidebar;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: -200px;
}

#main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}
h2 {
  text-transform: capitalize;
}

h4,
h5 {
  text-align: center;
  font-size: 1.5rem;
  color: #133368;
  margin-bottom: 10px;
}
.display {
  background-color: #f2f6fc;
  border-radius: 15px;
  margin: 30px 20px;
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}
.burgerMenu {
  display: none;
  pointer-events: none;
}

li,
li > div {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
li {
  padding: 5px;
  border-radius: 7px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
li:hover {
  transform: translateY(-2px);
  background-color: #dce6f5;
}
li.active,
li:has(.projectLink.active) {
  background-color: #d4e0f0;
}
#sidebar .btnContainer {
  display: flex;
  justify-content: center;
}
button,
input[type="submit"] {
  cursor: pointer;
}
.dialog {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border: none;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 40%;
  background-color: #eaf1fb;
}
form {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}

label {
  color: #133368;
  font-size: 1rem;
}
input[type="text"],
input[type="date"],
input[type="time"],
textarea,
select {
  padding: 10px;
  border-radius: 6px;
  background-color: #c0d3f0;
  border: none;
  transition: all 0.2s ease;
}
input::placeholder,
textarea::placeholder {
  color: #133368;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
select:focus {
  outline: none;
  background-color: rgb(183, 206, 246);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.secondaryInfoDialog {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.secondaryInfoDialog .form-element {
  flex: 1 0 40%;
  box-sizing: border-box;
}

.dialog.active {
  opacity: 1;
}
.form-element {
  display: flex;
  flex-direction: column;
}
#cancelBtn,
#projectCancelBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 7px;
  transition: all 0.2s ease-in;
  border-radius: 0px 15px 0 15px;
}
#cancelBtn img,
#projectCancelBtn img,
.removeBtn img {
  transition: transform 0.3s ease;
}

#cancelBtn:hover img,
#projectCancelBtn:hover img,
.removeBtn:hover img {
  transform: rotate(65deg);
}
#confirmBtn,
#projectConfirmBtn,
.addTaskBtn,
.addProjectBtn {
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-color: #2c5496;
  color: #eaf1fb;
  padding: 15px 68px;
  transition: all 0.2s ease-in;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
#confirmBtn:hover,
#projectConfirmBtn:hover,
.addTaskBtn:hover,
.addProjectBtn:hover {
  background-color: #386fc9;
  transform: translateY(-2px);
}
#confirmBtn:active,
#projectConfirmBtn:active,
.addTaskBtn:active,
.addProjectBtn:active {
  background-color: #3870c97b;
}
.taskList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskContainer {
  display: flex;
  gap: 15px;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  background-color: #f9fbfd;
}
.mainInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
}
.mainInfo p {
  font-size: 0.89rem;
  font-weight: 300;
  color: rgb(67, 67, 67);
  max-width: 30ch;
  word-wrap: break-word;
}
.mainInfo > div:last-child {
  font-size: 0.89rem;
}
.taskChecked {
  text-decoration: line-through;
}
.textInfo {
  display: inline;
}
.textInfo > div:first-child {
  font-weight: 500;
}
.secondaryInfo {
  margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: flex-end;
}
.secondaryInfo > div {
  font-size: 0.89rem;
  color: rgb(92, 92, 92);
  display: flex;
  align-items: flex-start;
}

.projectList > li {
  justify-content: space-between;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editBtn,
.removeBtn,
.burgerMenu {
  background-color: transparent;
  border: none;
  border-radius: 24px;
  padding: 7px;
  transition: all 0.2s ease-in;
}
.editBtn:hover,
.removeBtn:hover,
.burgerMenu:hover,
#cancelBtn:hover,
#projectCancelBtn:hover {
  background-color: #bfd1ee;
}
.editBtn:active,
.removeBtn:active,
.burgerMenu:active,
#cancelBtn:active,
#projectCancelBtn:active {
  background-color: #b5c8e68d;
}
.noResize {
  resize: none;
  overflow-y: auto;
}
@media (max-width: 1024px) {
  #content {
    grid-template-areas: "main main";
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: #eaf1fb;
    border-radius: 0 7px 7px 0;
  }
  .burgerMenu {
    display: block;
    pointer-events: all;
  }
  #main .btnContainer {
    display: flex;
    justify-content: center;
  }
}
